# Ignore .idea #
################
.idea*

# Ignore Jupyter notebook checkpoints #
#######################################
.ipynb_checkpoints/

# Ignore big banana #
#####################
Navigation/Banana_Linux_NoVis

# Ignore logs #
###############
*.log

# Ignore Reacher #
##################
ContinuousControl/Reacher_Linux

# Ignore tennis #
#################
CollaborationAndCompetition/Tennis_Linux_Novis
